@import "tailwindcss";


.font-neucha{
  font-family: 'Neucha', cursive;
}

.font-caveat {
  font-family: 'Caveat Brush', cursive;
}

.zain-regular {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}
